<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="INLINE" />
        <!--<arg key="configType" value="FILE" />-->
        <!--<arg key="configFile" value="~/log4net.xml" />-->
      </factoryAdapter>
    </logging>
  </common>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <log4net>
    <appender name="ProgramAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/log_MainProgram.txt"/>
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="Logic_1_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/log_Logic_1.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="Logic_2_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/log_Logic_2.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %l - %m%n" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %l - %m%n" />
      </layout>
    </appender>
    <logger name="FactoryDemo.Program">
      <level value="INFO" />
      <appender-ref ref="ProgramAppender" />
    </logger>
    <logger name="FactoryDemo.Logics.Logic_1">
      <level value="INFO" />
      <appender-ref ref="Logic_1_Appender" />
    </logger>
    <logger name="FactoryDemo.Logics.Logic_2">
      <level value="INFO" />
      <appender-ref ref="Logic_2_Appender" />
    </logger>
    <root>
      <!--<level value="DEBUG" />-->
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <!-- uncomment to enable event log appending -->
      <!-- <appender-ref ref="EventLogAppender" /> -->
    </root>
  </log4net>
</configuration>